
body {
  background-color: #000;
  color: #FF3C3C;
  font-family: Consolas, monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  border: 2px solid #FF3C3C;
  border-radius: 12px;
  padding: 30px;
  width: 400px;
  background-color: #111;
  box-shadow: 0 0 20px #FF3C3C33;
}

h1 {
  text-align: center;
  margin-bottom: 25px;
  color: #FF3C3C;
}

.label {
  margin: 10px 0;
  font-size: 16px;
}

select {
  width: 100%;
  padding: 8px;
  background-color: #111;
  color: #FF3C3C;
  border: 1px solid #FF3C3C;
  border-radius: 5px;
  font-size: 15px;
}

button {
  width: 100%;
  margin-top: 20px;
  padding: 10px;
  background: transparent;
  color: #FF3C3C;
  border: 2px solid #FF3C3C;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #1a1a1a;
}
